@import "../bootstrap/styles/bootstrap.css";

html, 
body, 
header {
    height: 100%;
}

header {
    background-image: url(../img/castle.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

.banner-info {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #FFFFFF;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-40%, -40%);
    transition: .3s;
    width: 80%;
}

.banner-info h1 {
    margin-bottom: 0;
    margin-top: 0;
}

#reviews__tiltle-highlight {
    background-color: #0275D8;
    color: #FFFFFF;
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
}

.group-radio,
.contact__select {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.group-radio .radio:first-child {
    margin-top: 0;
}

footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
}

footer address:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {

    .banner {
        position: relative;
        height: 100%;
    }

    .banner-info {
        left: 0;
        transform: translate(0, -80%);
        width: 50%;
    }
}